.container{
    display: grid;
    grid-column: 2/4;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
}
.card{
    position: relative;
    margin: 20px;
    width: 160px;
    height: 160px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    transition: 0.5s;
}
.card:hover .content
{
    opacity: 1;
}
.imgbx{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    
}
.imgbx>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contentbx{
    font-size: 12px;
    margin-top: 30px;
    letter-spacing: 1px;
}
