*{
    margin: 0%;
    padding: 0%;
}
.offer{
    padding: 10px;
    text-align: center;
    background-color:#ffd9d2;
}
.header{
    margin: 25px 18% ;
}
.top-bar{
    display: flex;  
}

.search{
    border: none;
    align-items: center;
}

